{
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".eslintrc.json",
        ".nycrc",
        ".eslintrc.json",
        ".czrc",
        ".huskyrc"
      ],
      "options": { "parser": "json" }
    },
    {
      "files": ["README.md"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
