{
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".eslintrc.json",
        ".nycrc",
        ".eslintrc.json",
        ".czrc"
      ],
      "options": { "parser": "json" }
    }
  ]
}
